i{
    color: red;
}
span{
    color: rgb(155, 113, 7)
}
.card{
    width: 350px;
    height: 450px;
    border: 1px solid black;
    display: inline-block;
    margin: 50px;
    border-radius: 10px;
}
img{
    width: 340px;
    height: 250px;
    padding: 5px;
    border-radius: 20px;
}
.n{
    margin-left: 10px;
}
p{
    width: 330px;
    height: 300px;
    font-size: 13px;
    text-align: center;
   
}
.inner{
    display: flex;
    justify-content: space-around;
}