p{
    color: #972604;
    line-height: 30px;
}
body{
    text-align: center;
   font-family: Georgia;
}
h3{
    color: black;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
#a1{
    color: #972604;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}
h1{
   
     color: red;
}
span{
    text-decoration: underline;
}