.a{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}
#outer{
    height: 400px;
    width: 400px;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
#outer1{
    height: 50px;
    width: 900px;
    border: 2px solid green;
    background-color: lightcoral;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    
}
.nav{
    height: 50px;
    width: 80px;
    font-size: 24px;
    padding: 10px;
}