h2{
    color: #fff;
    background-color: #000;
}
p{
    color: rgb(255, 115, 0);
    background-color: #009fff;
}
button{
    color: #ff7a00;
    background-color: rgb(0,179,255);
}

#outer{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10%;
    margin-left: 50px;
    transition: transform 2s ease-in 0s;
     background-color: peru;
}
#outer:hover{
    transform: rotateY(180deg);
}
.desc{
    padding: 20px;
    line-height: 29px;
    font-size: 22px;
}
img{
    width: 300px;
    height: 250px;
    border-radius:10%;
    border: 1px solid black;
}

#f2{
    display: none;
}
#f1:hover{
   display: none;
}
#f2{
    text-align: center;
    color: red;
    font-size: 22px;
    line-height: 29px;
}
#f2:hover{
    display: contents;
}